body{
    background-color: #95c5d4;
    font-family: sans-serif;
}
header h1 {
    text-align: center;
    font-size: 60px;
    color: firebrick;

}

nav ul li {
    display: inline-block ;
    margin-right: 20;
    margin-left: 20px;
    font-size: 25px;
}
nav{
    background-color: #b87b52;
    display:inline-block;
    text-align: center;
    margin-left: 300px;
    padding-right: 60px;
    border-radius: 30px;
    
}
a{
    text-decoration: none;
    color: #000;
}
a:hover{
    color: #00aeff;
    border: 3px solid #ad0909;
    border-radius: 10px;
}
main{
    background-color: rgb(17, 21, 245);
    margin-top: 30px;
    padding: 20px;
    border-radius: 30px;

}
section{
    background-color: rgb(190, 64, 14);
    padding: 20px ;
    margin: 15px ; 
    border-radius: 10px;  
}
article{
    background-color: rgb(3, 133, 133);
    border-radius: 10px;
}

article p {
     text-align: center;
}
article h1{
    text-align: center;
}
article button{
    font-size: 20px;
    border-style: none;
    border-radius: 15px;
    margin-bottom: 5px;
    margin-top: -5px;
    margin-left: 580px;
    background-color: rgb(197, 5, 5);
    color:rgb(183, 221, 247);
}

article button:hover{
    background-color: rgb(183, 221, 247);
    color: rgb(197, 5, 5) ;
}

footer{
    text-align: center;
    font-size: 20px;
    
}
